* {
    box-sizing: border-box;
}
html, body {
    text-align:center;
    margin: auto;
}

/* For extra small devices */
@media screen and (max-width:768px) {
    .hidden-xs {
        display:none;
    }
}