* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

 a {
    display: inline-block;
    color: orangered;
    text-decoration: none;
    padding: 5px;
}

 a:hover {
    color: blue;
}

 ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;

}

 .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
}

 .company {
    justify-content: flex-start;
}

 .icons {
    justify-content: flex-end;
}

